In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
os.getcwd()

'C:\\Users\\Shlagha Rastogi'

In [3]:
os.chdir('C:/Users/Shlagha Rastogi/Downloads/Semester 2/Machine Learning/Assignments')
traindata = pd.read_csv('train.csv')

In [4]:
traindata.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
3,8,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
4,10,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

In [6]:
traindata.shape

(76020, 371)

In [7]:
testdata.shape

(75818, 370)

In [8]:
traindata.isnull().sum()

ID                               0
var3                             0
var15                            0
imp_ent_var16_ult1               0
imp_op_var39_comer_ult1          0
imp_op_var39_comer_ult3          0
imp_op_var40_comer_ult1          0
imp_op_var40_comer_ult3          0
imp_op_var40_efect_ult1          0
imp_op_var40_efect_ult3          0
imp_op_var40_ult1                0
imp_op_var41_comer_ult1          0
imp_op_var41_comer_ult3          0
imp_op_var41_efect_ult1          0
imp_op_var41_efect_ult3          0
imp_op_var41_ult1                0
imp_op_var39_efect_ult1          0
imp_op_var39_efect_ult3          0
imp_op_var39_ult1                0
imp_sal_var16_ult1               0
ind_var1_0                       0
ind_var1                         0
ind_var2_0                       0
ind_var2                         0
ind_var5_0                       0
ind_var5                         0
ind_var6_0                       0
ind_var6                         0
ind_var8_0                       0
ind_var8                         0
                                ..
saldo_medio_var13_corto_hace2    0
saldo_medio_var13_corto_hace3    0
saldo_medio_var13_corto_ult1     0
saldo_medio_var13_corto_ult3     0
saldo_medio_var13_largo_hace2    0
saldo_medio_var13_largo_hace3    0
saldo_medio_var13_largo_ult1     0
saldo_medio_var13_largo_ult3     0
saldo_medio_var13_medio_hace2    0
saldo_medio_var13_medio_hace3    0
saldo_medio_var13_medio_ult1     0
saldo_medio_var13_medio_ult3     0
saldo_medio_var17_hace2          0
saldo_medio_var17_hace3          0
saldo_medio_var17_ult1           0
saldo_medio_var17_ult3           0
saldo_medio_var29_hace2          0
saldo_medio_var29_hace3          0
saldo_medio_var29_ult1           0
saldo_medio_var29_ult3           0
saldo_medio_var33_hace2          0
saldo_medio_var33_hace3          0
saldo_medio_var33_ult1           0
saldo_medio_var33_ult3           0
saldo_medio_var44_hace2          0
saldo_medio_var44_hace3          0
saldo_medio_var44_ult1           0
saldo_medio_var44_ult3           0
var38                            0
TARGET                           0
Length: 371, dtype: int64

In [9]:
testdata.isnull().sum()

ID                               0
var3                             0
var15                            0
imp_ent_var16_ult1               0
imp_op_var39_comer_ult1          0
imp_op_var39_comer_ult3          0
imp_op_var40_comer_ult1          0
imp_op_var40_comer_ult3          0
imp_op_var40_efect_ult1          0
imp_op_var40_efect_ult3          0
imp_op_var40_ult1                0
imp_op_var41_comer_ult1          0
imp_op_var41_comer_ult3          0
imp_op_var41_efect_ult1          0
imp_op_var41_efect_ult3          0
imp_op_var41_ult1                0
imp_op_var39_efect_ult1          0
imp_op_var39_efect_ult3          0
imp_op_var39_ult1                0
imp_sal_var16_ult1               0
ind_var1_0                       0
ind_var1                         0
ind_var2_0                       0
ind_var2                         0
ind_var5_0                       0
ind_var5                         0
ind_var6_0                       0
ind_var6                         0
ind_var8_0                       0
ind_var8                         0
                                ..
saldo_medio_var12_ult3           0
saldo_medio_var13_corto_hace2    0
saldo_medio_var13_corto_hace3    0
saldo_medio_var13_corto_ult1     0
saldo_medio_var13_corto_ult3     0
saldo_medio_var13_largo_hace2    0
saldo_medio_var13_largo_hace3    0
saldo_medio_var13_largo_ult1     0
saldo_medio_var13_largo_ult3     0
saldo_medio_var13_medio_hace2    0
saldo_medio_var13_medio_hace3    0
saldo_medio_var13_medio_ult1     0
saldo_medio_var13_medio_ult3     0
saldo_medio_var17_hace2          0
saldo_medio_var17_hace3          0
saldo_medio_var17_ult1           0
saldo_medio_var17_ult3           0
saldo_medio_var29_hace2          0
saldo_medio_var29_hace3          0
saldo_medio_var29_ult1           0
saldo_medio_var29_ult3           0
saldo_medio_var33_hace2          0
saldo_medio_var33_hace3          0
saldo_medio_var33_ult1           0
saldo_medio_var33_ult3           0
saldo_medio_var44_hace2          0
saldo_medio_var44_hace3          0
saldo_medio_var44_ult1           0
saldo_medio_var44_ult3           0
var38                            0
Length: 370, dtype: int64

In [14]:
# Hyper parameter optimisation using GridSearchCV
# Lasso and PCA for feature reduction
# Logistic regression
# Classification - KNN
# Cross Validation for overfitting

In [17]:
X = traindata.drop(['TARGET'],1)
y = traindata['TARGET']

from sklearn.model_selection import train_test_split as tts
X_train, X_test, y_train, y_test = tts(X, y, random_state = 42, test_size = 0.2)

from sklearn.preprocessing import MinMaxScaler
minmax = MinMaxScaler()

col_names=list(X)
X = minmax.fit_transform(X)
X = pd.DataFrame(X)
X.columns = col_names

C:\Users\Shlagha Rastogi\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [18]:
X.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var29_ult3,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38
0,0.000000,0.999764,0.18,0.0,0.00000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.001545
1,0.000013,0.999764,0.29,0.0,0.00000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.002003
2,0.000020,0.999764,0.18,0.0,0.00000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.002822
3,0.000046,0.999764,0.32,0.0,0.01513,0.009275,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.002671
4,0.000059,0.999764,0.34,0.0,0.00000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.005091

# 1. Logistic Regression

In [19]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()

logreg_model = logreg.fit(X_train, y_train)
logreg_pred = logreg.predict(X_test)
logreg_model.score(X_test, y_test)

C:\Users\Shlagha Rastogi\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Shlagha Rastogi\Anaconda3\lib\site-packages\sklearn\svm\base.py:922: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

0.9600762957116549

In [20]:
from sklearn.model_selection import cross_val_score
cross_val_score(logreg, X, y, cv = 5).mean()

C:\Users\Shlagha Rastogi\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Shlagha Rastogi\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Shlagha Rastogi\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Shlagha Rastogi\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Shlagha Rastogi\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.9602999226664222

# 2. Decision Tree

In [30]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier(random_state=42)

dtc_model = dtc.fit(X_train, y_train)
dtc_pred = dtc.predict(X_test)
dtc_model.score(X_test, y_test)

0.928702972901868

In [31]:
cross_val_score(dtc, X, y, cv = 5).mean()

0.7984559296857463

# 3. Random Forest

In [24]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(random_state=42)

rfc_model = rfc.fit(X_train, y_train)
rfc_pred = rfc.predict(X_test)
rfc_model.score(X_test, y_test)

C:\Users\Shlagha Rastogi\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.9555380163114969

In [25]:
cross_val_score(rfc, X, y, cv = 5).mean()

0.8380489269730889

# Applying logistic regression on testdata.csv

In [32]:
testdata = pd.read_csv('test.csv')
testdata.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var29_ult3,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38
0,2,2,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40532.10
1,5,2,35,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45486.72
2,6,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,46993.95
3,7,2,24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,187898.61
4,9,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,73649.73

In [33]:
y_pred = logreg.predict(testdata)

In [34]:
y_pred = pd.DataFrame(y_pred)

In [35]:
y_pred

       0
0      0
1      0
2      0
3      0
4      0
5      0
6      0
7      0
8      0
9      0
10     0
11     0
12     0
13     0
14     0
15     0
16     0
17     0
18     0
19     0
20     0
21     0
22     0
23     0
24     0
25     0
26     0
27     0
28     0
29     0
...   ..
75788  0
75789  0
75790  0
75791  0
75792  0
75793  0
75794  0
75795  0
75796  0
75797  0
75798  0
75799  0
75800  0
75801  0
75802  0
75803  0
75804  0
75805  0
75806  0
75807  0
75808  0
75809  0
75810  0
75811  0
75812  0
75813  0
75814  0
75815  0
75816  0
75817  0

[75818 rows x 1 columns]